<h1>Imagini</h1>

<h2>Camere</h2>

<p><img src="../assets/pix/cam1.jpg" alt="Camera mica" title="">
<img src="../assets/pix/cam2.jpg" alt="Camera mare" title=""></p>

<h2>Interior</h2>

<p><img src="../assets/pix/int1.jpg" alt="Interior, hol" title=""></p>

<h2>Exterior</h2>

<p><img src="../assets/pix/ext1.jpg" alt="Exterior, terasa" title=""></p>
