html {
	--background: #fff;
	--main-background: #ffffff99;
	--foreground: #000;
	--highlight: #905386;
	--darklight: #703366;
}
body {
	background-color: #6d695c;
	background-image:
	repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
        background-size: 70px 120px;
	background-attachment: fixed;	
	color: var(--foreground);
	font-family: sans-serif;
	padding: 0; margin: 0;
}

pre, code { margin: 0; }
a { text-decoration: none; color: var(--highlight); }

#menu {
	background-color: var(--highlight);
	box-shadow: 2px 2px 4px #555;
	padding: 0.7ex;
	position: sticky; top: 0;
	overflow: hidden; clear: both;
}
#menu a { padding: 1ex; color: var(--background); }
#menu a:hover { background-color: var(--darklight); transition: 0.3s; }

#header {
	background-color: var(--background); 
	clear: both;
	color: #555;
	font-size: 1.78em;
	padding: 0.7ex 0.7ex 0.7ex 0.7em;
}
#headerLink { color: var(--hightlight); margin-left: 5px; }
#headerSubtitle { font-size: 0.75em; font-style: italic; margin-left: 1em; }

.main {
	background-color: var(--main-background); 
	margin-left: auto; margin-right: auto;
	max-width: 900px;
	padding: 1.5em;
}

h1 { margin: 1em 1ex 0.5ex 0; font-size: 1.4em; padding-bottom: 2px; border-bottom: 2px solid var(--highlight); }
h2 { margin: 1em 1ex 0.5ex 0; font-size: 1.3em; }
h3 { margin: 1em 1ex 0.5ex 0; font-size: 1.0em; }
h4 { margin: 1em 1ex 0.5ex 0; font-size: 0.9em; }

img { max-width: 400px; max-height: 200px; border-radius: 5px; transition: 0.3s; }
img:hover { border-radius: 15px; transition: 0.3s; } 

.left { float: left; margin: 0; padding: 0; }
.right { float: right; margin: 0; padding: 0; }
